*{
    font-family: 'Poppins', sans-serif;

}


.font-name{
    font-weight: 600;
    font-size:25px;
    font-family: "Roboto", sans-serif;
} 


.nav-style{
    box-shadow: 1px 1px 2px rgba(0,0,0);
}
.Nav_Link:hover, .Nav_Link:focus{
    color: rgb(255,0,0);
}
.Nav_Link::after{
    content: ' ';
    height: 3px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    display: block;

    transition: all 0.2s;
   pointer-events: none;
    opacity: 0;
}

.Nav_Link:hover::after ,.Nav_Link:focus::after{
    
    opacity: 1;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon{
    font-size: small;
    font-weight: bold;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}